@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/imagen_portada.css" rel="stylesheet" />



<div class="center-container">
    <br />
    <h2>Bienvenido a Lubrilogix</h2>
    <br />
    <h3 style="color: red;">El acceso no autorizado a este sistema está prohibido</h3>
</div>
<div class="imagen_portada">

    <img src="~/Prueba/lubrilogix.jpg" alt="Logo" class="img-fluid" />

</div>
@* 

<div>
    <ul>
        @if (ViewBag.Claims != null)
        {
            foreach (var claim in ViewBag.Claims)
            {
                <li>@claim.Type: @claim.Value</li>
            }
        }
    </ul>
</div> *@