<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp_OpenIDConnect_DotNet</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />


    <style>
        body {
            display: flex;
            height 100%;
        }

    </style>

</head>
<body>
    <header>

        <div class="container-login">

            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial" />
            </div>



            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            @*         <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Lubrilogix</a>
            </nav>
            *@
            <div class="container-menu">

                @if (User.Identity.IsAuthenticated)
                {
                    <div class="sidebar" id="sidebar">
                        <button class="toggle-button" id="toggleButton">☰</button>
                        <ul class="navbar-nav-menu">
                            <span class="nav-item-menu">
                                <a class="nav-link-menu" asp-area="" asp-controller="Lubrilogix" asp-action="Inicio">
                                    <i class="fas fa-home"></i>
                                    <span class="menu-text">Inicio</span>
                                </a>
                            </span>
                            <span class="nav-item-menu">
                                <a class="nav-link-menu" asp-area="" asp-controller="Lubrilogix" asp-action="Inventario">
                                    <i class="fas fa-box"></i>
                                    <span class="menu-text">Inventario</span>
                                </a>
                            </span>
                            <span class="nav-item-menu">
                                <a class="nav-link-menu" asp-area="" asp-controller="Lubrilogix" asp-action="Proveedores">
                                    <i class="fas fa-truck"></i>
                                    <span class="menu-text">Proveedores</span>
                                </a>
                            </span>
                            <span class="nav-item-menu">
                                <a class="nav-link-menu" asp-area="" asp-controller="Lubrilogix" asp-action="Productos">
                                    <i class="fas fa-tags"></i>
                                    <span class="menu-text">Productos</span>
                                </a>
                            </span>
                            <span class="nav-item-menu">
                                <a class="nav-link-menu" asp-area="" asp-controller="Lubrilogix" asp-action="Sucursales">
                                    <i class="fas fa-store"></i>
                                    <span class="menu-text">Sucursales</span>
                                </a>
                            </span>
                        </ul>
                    </div>
                }
            </div>
        </div>





    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Universidad Hispanoamericana - <a asp-area="" asp-controller="Home" asp-action="Soporte">Soporte</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        document.getElementById('toggleButton').addEventListener('click', function () {
            var sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('collapsed');
        });
    </script>


    @RenderSection("Scripts", required: false)
</body>
</html>
