@using System.Security.Principal

<link href="~/css/boton_ingresar.css" rel="stylesheet" />
<h2> hika</h2>


<ul class="navbar-navT">


    @if (User.Identity.IsAuthenticated)
    {

   
            <div class="box-name">
                <span class="nav-item">
                    <span>Hola @User.Identity.Name!</span>
                </span>
            </div>



        <div class="ingresar">

            <div class="box">

                <span class="nav-itemT">
                    <a class="nav-linkT " asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Salir</a>
                </span>

            </div>


        </div>
    }
    else
    {
        <div class="ingresar">
            <div class="box">
                <span class="nav-itemT">
                    <a class="nav-linkT" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Ingresar</a>
                </span>
            </div>
        </div>
    }

</ul>
