@{
    ViewData["Title"] = "Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Productos</h1>

@{
    var specificGroupId = "724896d2-9e76-4f63-8129-1a22305cb5d5"; // IdGrupo LubrilogixAdmin


    var groupClaims = ViewBag.GroupClaims as List<string>;

    var userInSpecificGroup = groupClaims != null && groupClaims.Contains(specificGroupId);
}

@if (userInSpecificGroup)
{
    <h2>Si estás viendo esto eres un administrador</h2>
    <h2>Esto no es visible para el usuario</h2>
}

@model List<LubrilogixTest.Models.Producto>

<div>
    @if (groupClaims != null && groupClaims.Any())
    {
        <table id="productosTable" class="display">
            <thead>
                <tr>
                    <th>ID Producto</th>
                    <th>Nombre</th>
                    <th>Categoría</th>
                    <th>Subcategoría</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var producto in Model)
                {
                    <tr>
                        <td>@producto.TnIdProducto</td>
                        <td>@producto.TcNombre</td>
                        <td>@producto.TcCategoria</td>
                        <td>@producto.TcSubcategoria</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No group claims found.</p>
    }
</div>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {
        $('#productosTable').DataTable();
    });
</script>

<style>
    body {
        background-color: #FEFAF1;
    }
</style>
