
@{
    ViewData["Title"] = "TotalInventory";
    Layout = null;
}

@model IEnumerable<dynamic>

<table class="table">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductoNombre</td>
                <td>@item.TotalCantidad</td>
            </tr>
        }
    </tbody>
</table>
