
@{
    ViewData["Title"] = "vistaInventario";
 
}

<h1>Inventario</h1>


@{
    var specificGroupId = "724896d2-9e76-4f63-8129-1a22305cb5d5"; // IdGrupo LubrilogixAdmin
    var groupClaims = ViewBag.GroupClaims as List<string>;
    var userInSpecificGroup = groupClaims != null && groupClaims.Contains(specificGroupId);
}

<br />

<div>
    <label for="viewSelector">Seleccione una vista:</label>

    <select id="viewSelector" class="form-control">

        <option value="">-- Seleccione una opcion --</option>
        <option value="option1">Inventario Total</option>
        <option value="option2">Historial</option>
        <option value="option3">Ordenes de compra pendientes</option>
       @*  <option value="option4">Prueba</option> *@
    </select>
    <div id="viewContainer"></div>
</div>
<br />

@section Scripts {
    <script src="~/js/aprobarOrden.js"></script>
    <script src="~/js/menuinventarios.js"></script>
   
}

