.ingresar-container {
    width: 100%;
    height: 5vh; /* Adjust height for viewport units */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    box-sizing: border-box; /* Include padding and border in width/height */
}

.box {
    width: 6%;
    height: 4vh; /* Adjust height for viewport units */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgreen;
    position: fixed;
    top: 2%;
    border-radius: 50px;
    border: 2px solid #ddd;
    box-sizing: border-box; /* Include padding and border in width/height */
}

/* Adjust nav-link styles */
.navbar-navT .nav-itemT .nav-linkT {
    color: white !important;
}

    .navbar-navT .nav-itemT .nav-linkT:hover {
        color: white !important;
    }
.welcome-message-container {
    width: 100%;
    max-width: 100%; /* Ensure the container doesn't exceed the viewport width */
    height: 10vh; /* Adjust height based on viewport height */
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1rem;
    left: 0;
    box-sizing: border-box; /* Include padding and border in width/height */
    overflow: hidden; /* Hide overflow if necessary */
}

/* For screens larger than 2560px */
@media (min-width: 2560px) {
    .welcome-message-container {
        height: 12vh; /* Adjust height for larger screens */
        font-size: 1.2rem; /* Adjust font size if needed */
    }
}

/* For screens between 1920px and 2560px */
@media (min-width: 1920px) and (max-width: 2559px) {
    .welcome-message-container {
        height: 11vh; /* Adjust height for these screens */
        font-size: 1.1rem; /* Adjust font size if needed */
    }
}

/* For screens up to 1920px */
@media (max-width: 1919px) {
    .welcome-message-container {
        height: 10vh; /* Default height for smaller screens */
        font-size: 1rem; /* Adjust font size if needed */
    }
}


.box-name {
    width: 15%;
    height: 12vh; /* Adjust height for viewport units */
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    position: fixed;
    box-sizing: border-box; /* Include padding and border in width/height */
}
