/* Ensure elements are displayed horizontally in .ingresar-container */
.ingresar {
    width: 100%;
    height: 5rem; /* Adjust height for viewport units */
    display: flex;
    flex-direction: row; /* Arrange items horizontally */
    justify-content: right; /* Center items horizontally */
    position: absolute;
    background-color: green;
    color: white;
    border: 2px solid white;
    right: 0;
    top: 0rem;
    box-sizing: border-box; /* Include padding and border in width/height */
    padding: 0 1rem; /* Optional: Add padding if needed */
    z-index: 950; /* Ensure this value is between .login and .welcome-message-container */
}



/* Style for .box-name */
.box-name {
    width: 25rem;
    height: 4rem; /* Adjust height for viewport units */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 10px; /* Rounded corners */
    position: absolute;
    box-sizing: border-box; /* Include padding and border in width/height */
    margin: 0 0.5rem; /* Optional: Add margin for spacing */
    top: 0.5rem; /* Position it below the .welcome-message-container */
    right: 8%;
    z-index: 1000; /* Ensure this is below .welcome-message-container */
}

/* Style for .box */
.box {
    width: 6%;
    height: 3rem; /* Adjust height for viewport units */
    top: 1rem;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    background-color: white;
    position: absolute;
    border-radius: 20px;
    border: 2px solid red;
    box-sizing: border-box; /* Include padding and border in width/height */
    margin: 0 0.5rem; /* Optional: Add margin if needed for spacing */
}



/* Adjust nav-link styles */
.navbar-navT .nav-itemT .nav-linkT {
    color: green !important;
    font-weight: bold
}

    .navbar-navT .nav-itemT .nav-linkT:hover {
        color: red !important;
        font-weight: bold
    }


/* Media Queries for responsiveness */
@media (min-width: 2560px) {
    .welcome-message-container {
        height: 12vh; /* Adjust height for larger screens */
        font-size: 1.2rem; /* Adjust font size if needed */
        background-color: red;
    }
}

@media (min-width: 1920px) and (max-width: 2559px) {
    .welcome-message-container {
        height: 11vh; /* Adjust height for these screens */
        font-size: 1.1rem; /* Adjust font size if needed */
        background-color: red;
    }
}

@media (max-width: 1919px) {
    .welcome-message-container {
        height: 10vh; /* Default height for smaller screens */
        font-size: 1rem; /* Adjust font size if needed */
        background-color: red;
    }
}
